/.vscode/
/.idea/
/.devcontainer/

/target/
/report/**/out/
.DS_Store
/report/sections/*.pdf
/report/sections/*.gz
/out/*

*.aux
*.bbl
*.blg
*.fls
*.out
*.synctex.gz
*.log
*.fdb_latexmk
*.toc

/logs/
